<% include ../partials/header %>
<% var cantRent = !(itemRows.length) || itemRows[0].every((item) => {return !(item.stock)}) %>

<div class="container">
<% if( cantRent ){ %>
<div class="alert alert-warning" role="alert">
    <h4>Egyetlen eszköz sem kölcsönözhető!</h4>
    <p>Kérlek próbáld később újra</p>
</div>
<% } %>
<% itemRows.forEach(row => { %>
    <div class="row">
        <% row.forEach(item => { %>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img class="card-img-top img-responsive" src="<%= item.imgPath || 'https://placeholdit.imgix.net/~text?txtsize=28&txt=200%C3%97200&w=200&h=200' %>" >
                    <div class="card-body">
                        <h3 class="card-title"><%= item.name %></h3>
                        <p class="description"> Darabszám: <%= item.count %></p>
                        <p class="description"> Készleten: <%= item.stock %></p>
                        <% if(!cantRent) {%>
                        <form action="/item/rent" method="POST" class="form-inline my-2 my-lg-0">
                            <input type = "hidden" name = "itemId" value = <%= item._id %>>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"<% if(!item.stock) {%> disabled<% } %>>Kosárba</button>
                            <input class="form-control" type="number" name="amount" value="1" min='1' max='<%=item.stock%>'>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
<% }); %>
</div>

<% include ../partials/footer %>