<!doctype html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SCH Szeretár</title>
</head>
<body>
<% if (message != undefined) { %>
    <h3> <%= message %> </h3>
<% } %>
<h1>SCH szertár</h1>
<h2>Feltöltés</h2>
<form method="post" action="/">
    <fieldset>
        <legend>Alap adatok</legend>
        <label>Tárgy: </label>
        <select name="item" id="dropdown" onchange="changed()" autofocus>
            <% for(var i=0; i < items.length; i++) { %>
                <option value="<%= items[i].name %>"><%= items[i].name %></option>
            <% } %>
            <option value="newItem">Új hozzáadása</option>
        </select>
        <div id="newItemInputDiv"></div>
        <br/>
        <label>Elemszám: </label>
        <input name="count" type="text" value="1" placeholder="Darabszám" required>
        <br/>
        <input type="submit" value="Feltöltés!">
    </fieldset>
</form>
<h2>Törlés</h2>
<form method="post" action="/delete">
    <fieldset>
        <legend>Alap adatok</legend>
        <label>Tárgy: </label>
        <select name="item" id="dropdown" onchange="changed()" autofocus>
            <% for(var i=0; i < items.length; i++) { %>
            <option value="<%= items[i].name %>"><%= items[i].name %></option>
            <% } %>
            <option value="newItem">Új hozzáadása</option>
        </select>
        <div id="newItemInputDiv"></div>
        <br/>
        <label>Elemszám: </label>
        <input name="count" type="text" value="1" placeholder="Darabszám" required>
        <br/>
        <input type="submit" value="Feltöltés!">
    </fieldset>
</form>

<h2>A szertár elemei</h2>
<table>
    <% for(var i=0; i < items.length; i++) { %>
    <tr>
        <td><%= items[i].name %></td>
        <td><%= items[i].count %></td>
    </tr>
    <% } %>
</table>

<script>
    function changed() {
        var dropdown = document.getElementById("dropdown");
        if (dropdown.value === "newItem") {
            addNewItem();
        } else {
            clearDiv();
        }
    }

    function addNewItem() {
        var inputDiv = document.getElementById("newItemInputDiv");
        var inputField = document.createElement("INPUT");
        inputField.setAttribute("type", "text");
        inputField.placeholder = "Új tárgy neve";
        inputField.required = true;
        inputField.name = "newItem";
        inputDiv.appendChild(inputField);
    }

    function clearDiv() {
        var div = document.getElementById("newItemInputDiv");
        while (div.firstChild) {
            div.removeChild(div.firstChild);
        }
    }
</script>
</body>
</html>