<% include ../../partials/header %>
<div class="container-fluid">
    <div class="row">
        <% include ../../partials/sidebar %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <% if(!items.length){ %>
            <div class="alert alert-danger" role="alert">
                <h4>Egyetlen eszköz sem található!</h4>
                <p>Kérlek alább add hozzá az eszközöket</p>
            </div>
            <% } %>
            <div class="col-md-8">
                <h2>Új eszköz hozzáadása</h2>
                <figure class="figure">
                    <form action="/item/create" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nev">Név<span class="text-danger">*</span></label>
                                <input type="text" name="item" id="nev" placeholder="Név" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="db">Darabszám<span class="text-danger">*</span></label>
                                <input type="number" min="0" name="count" id="db" placeholder="Darabszám" class="form-control" required>
                            </div>
                        </div>
                        <label for="img-btn" class="btn btn-primary btn-lg">
                            <input type="file" id="img-btn" name="img" accept="image/*" capture hidden onchange="displayAsImage(this)">
                            Kép feltöltése
                        </label>
                        <button type="submit" class="btn btn-dark">Küldés</button>
                    </form>
                    <figcaption class="figure-caption">Telefonnal fényképezés után feltölthető azonnal!</figcaption>
                </figure>
            </div>
            <div id="img" style="display: none; width: 201px;">
                <div class="card">
                    <div id="thumb" class="card-img-top img-responsive" style="display: inline-block; width: 200px; height: 200px; background-position: center center; background-size: cover;"></div>
                    <div class="card-body">
                        <h3>Előnézet</h3>
                        <p class="description"> Darabszám: <span id='thumb-count'></span></p>
                        <p class="description"> Készleten: <span id='thumb-stock'></span></p>
                    </div>
                </div>
            </div>
            <% if(items.length){ %>
            <div class="col-md-12">
                <h2>Eszközök</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <caption>A szertár elemei</caption>
                        <thead>
                            <tr>
                                <th>Kép</th>
                                <th>Név</th>
                                <th>Darabszám</th>
                                <th>Készleten</th>
                                <th>Szerkesztés</th>
                                <th>Eltávolítás</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < items.length; i++) { %>
                                <tr>
                                    <td><img class="item-image" src="<%= items[i].imgPath || 'https://placeholdit.imgix.net/~text?txtsize=10&txt=60%C3%9760&w=60&h=60' %>"></td>
                                    <td>
                                        <span id="item<%=i%>" data-id="<%= items[i]._id %>" data-name="<%= items[i].name %>"
                                            data-count="<%= items[i].count %>" data-stock="<%= items[i].stock %>">
                                            <%= items[i].name %>
                                        </span>
                                    </td>
                                    <td>
                                        <span id="count<%=i%>">
                                            <%= items[i].count %>
                                        </span>
                                    </td>
                                    <td>
                                        <span id="stock<%=i%>">
                                            <%= items[i].stock %>
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" onclick="edit(<%=i%>)" class="btn btn-default">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick="deleteItem(<%=i%>)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>
        </main>
    </div>
</div>
<div class="overlay" id="edit-overlay">
    <div class="edit overlay-content">
        <form class="form" method="POST" action="/item/edit">
            <legend>Szerkesztés</legend>
            <input type="hidden" name="id" id="id">
            <fieldset class="form-group">
                <label for="name">Név:</label>
                <input class="form-control" type="text" id="name" name="name" required>
            </fieldset>
            <fieldset class="form-group">
                <label for="count">Mennyiség:</label>
                <input class="form-control" type="number" min="0" id="count" name="count" required>
            </fieldset>
            <fieldset class="form-group">
                <label for="stock">Készleten:</label>
                <input class="form-control" type="number" min="0" id="stock" name="stock" required>
                <br>
            </fieldset>

            <div class="form-group">
                <button class="btn btn-success">Mehet</button>
                <span class="btn btn-danger" onclick="closeNav()">Mégse</span>
            </div>
        </form>
    </div>
</div>
<script>
    function deleteItem(i) {
        var id = $("#item" + i).data("id");
        $.ajax({
            url: '/item/' + id,
            method: 'DELETE',
            success: () => {
                if($('table tbody').children().length == 1) location.reload()
                else $('#item'+i).parentsUntil("tbody")[1].remove()
            }
        })
    }

    function edit(i) {
        var id = $("#item" + i).data("id");
        var name = $("#item" + i).data("name");
        var count = parseInt($("#item" + i).data("count"));
        var stock = parseInt($("#item" + i).data("stock"));
        $('#edit-overlay').show()
        $('input[id=id]').val(id);
        $('input[id=name]').val(name);
        $('input[id=count]').val(count);
        $('input[id=stock]').val(stock);
    }

    function closeNav() {
        $('#edit-overlay').hide()
    }

    function displayAsImage(file) {
        if(!file.files[0]) return $("#img").hide()
        $('#thumb-count').text($('#db').val())
        $('#thumb-stock').text($('#db').val())
        var imgURL = URL.createObjectURL(file.files[0])
        $('#thumb').ready(()=> URL.revokeObjectURL(imgURL))
        $('#thumb').css('background-image', 'url('+imgURL+')')
        $("#img").show()
    }
    
</script>
<% include ../../partials/footer %>