<% include ../../partials/header %>
<% 
function getItem(id){
    return items.find(function(item){
        return item._id.toString() === id.toString()
    })
}

function getUser(id){
    return users.find(function(user){
        return user._id.toString() === id.toString()
    })
}

function getState(state){
    switch(state){
        case 0:
            return '<i class="fas fa-shopping-cart"></i>Kosárban'
            break
        case 1:
            return '<i class="fas fa-warehouse"></i>Kiadásra vár'
            break
        case 2:
            return '<i class="fas fa-long-arrow-alt-left"></i>Kiadásról értesítve'
            break
        case 3:
            return '<i class="fas fa-long-arrow-alt-right"></i>Kiadva'
            break
        case 4:
            return '<i class="fas fa-archive"></i>Leadásra vár'
            break
        case 5:
            return '<i class="fas fa-archive"></i>Leadásról értesítve'
            break
        case 6:
            return '<i class="fas fa-archive"></i>Leadva'
            break
    }
}
function getStateConfirm(state){
    switch(state){
        case 1:
            return 'Értesít'
            break
        case 2:
            return 'Kiad'
            break
        case 4:
            return 'Értesít'
            break
        case 5:
            return 'Lead'
            break
    }
}
%>

<div class="container-fluid">
    <div class="row">
        <% include ../../partials/sidebar %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2>Kölcsönzések</h2>
            <% if( !rents.length || !items.length || rents.every((rent) => rent.state == 0) ){ %>
            <div class="alert alert-warning" role="alert">
                <h4 class="text-center">Egyetlen kölcsönzés sem található!</h4>
            </div>
            <% } else { %>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <caption>Felhasználók kölcsönzései</caption>
                    <thead>
                        <tr>
                            <th>Állapot</th>
                            <th>Eszköz</th>
                            <th>Név</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Elfogad</th>
                            <th>Eltávolítás</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<rents.length; i++) { %>
                            <% if(!rents[i].state) continue %>
                            <tr id="rent<%=i%>" data-id="<%=rents[i]._id%>" data-state="<%=rents[i].state%>">
                                <td><%- getState(rents[i].state) %></td>
                                <td>
                                <% for(var j=0; j< rents[i].items.length; j++) { %>
                                    <span style="display: block"><%= getItem(rents[i].items[j]._id).name%>(<b><%= rents[i].items[j].amount %></b>)</span>
                                <% } %>
                                </td>
                                <td><%= getUser(rents[i].user).name %></td>
                                <% var date = new Date(rents[i].updatedAt) %>
                                <td><a target='_blank' href="mailto:<%=encodeURI(getUser(rents[i].user).email+'?subject=[SCH Szertár] Kölcsönzéssel kapcsolatos információ&body=Kedves '+getUser(rents[i].user).name+'!\n\nA '+date.toLocaleDateString()+' '+date.getHours()+':'+date.getMinutes()+'-kor leadott kölcsönzésedet !EKKOR!'+ ((rents[i].state == 4) ? ' adhatod le' : ' veheted át') +'\n\nÜdvözlettel:\nSCH Szertár')%>"><%= getUser(rents[i].user).email %></a></td>
                                <td><a href="tel:<%= getUser(rents[i].user).phone %>"><%= getUser(rents[i].user).phone %></a></td>
                                <td>
                                    <button type="button" class="btn btn-success" onclick="approveRent(<%=i%>)" <% if(rents[i].state == 3 || rents[i].state == 6) { %> disabled <% } %>>
                                        <i class="fas fa-check"></i>
                                        <%= getStateConfirm(rents[i].state) %>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="deleteRent(<%=i%>)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <% } %>
        </main>
    </div>
</div>
<script>
    function deleteRent(i){
        var id = $("#rent" + i).data("id");
        var state = $("#rent" + i).data("state")
        $.ajax({
            url: './rents/' + id,
            method: 'DELETE',
            success: () => {
                if($('table tbody').children().length == 1) location.reload()
                else {
                    if(state == 1 || state == 4){
                        var tmp = ($('.newRents').html())-1
                        $('.newRents').text(parseInt((!tmp) ? '' : tmp))
                    }
                    $('#rent'+i)[0].remove()
                }
            }
        })
    }

    function approveRent(i){
        var id = $("#rent" + i).data("id")
        $.ajax({
            url: './rents/' + id,
            method: 'POST',
            success: () => {
                location.reload()
            }
        })
    }
</script>
<% include ../../partials/footer %>