<% include ../../partials/header %>
<div class="container-fluid">
    <div class="row">
        <% include ../../partials/sidebar %>
        <main role="main" class="col-md-10 ml-sm-auto px-4">
            <h2>Felhasználók</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <caption>Felhasználók</caption>
                    <thead>
                        <tr>
                            <th>Admin</th>
                            <th>Név</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Eltávolítás</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < users.length; i++) { %>
                        <tr id="user<%=i%>" data-id="<%=users[i]._id%>"
                            <% if(users[i]._id.toString() == user._id.toString()){%>data-me='true' <%}%>>
                            <td>
                                <i onclick="makeAdmin(<%=i%>)" style="cursor: pointer;"
                            class="fas <%if(users[i].isAdmin) { %>fa-check text-success<% }else{ %>fa-times text-danger<% } %>">
                            </i>
                            </td>
                            <td><%=users[i].name%></td>
                            <td><a href="mailto:<%=users[i].email%>"><%=users[i].email%></a></td>
                            <td><a href="tel:<%=users[i].phone%>"><%=users[i].phone%></a></td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="deleteUser(<%=i%>)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<script>
    function deleteUser(i) {
        const id = $("#user" + i).data("id");
        const me = $("#user" + i).data("me")
        if (me && !confirm('Törölnéd magad?')) return
        $.ajax({
            url: './users/' + id,
            method: 'DELETE',
            success: () => location.reload()
        })
    }
    function makeAdmin(i) {
        const id = $("#user" + i).data("id")
        const me = $("#user" + i).data("me")
        if (me && !confirm('Nem akarsz már admin lenni?')) return
        $.ajax({
            url: './users/' + id,
            method: 'POST',
            success: () => {
                location.reload()
            }
        })
    }
</script>
<% include ../../partials/footer %>