<% include ../../partials/header %>
<div class="container-fluid">
    <div class="row">
        <% include ../../partials/sidebar %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2>Felhasználók</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <caption>Felhasználók</caption>    
                    <thead>
                        <tr>
                            <th>Admin</th>
                            <th>Név</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Eltávolítás</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < users.length; i++) { %>
                        <tr>
                            <td><i class="fas <%if(users[i].isAdmin) { %>fa-check text-success<% }else{ %>fa-times text-danger<% } %>"></i></td>
                            <td><span id="user<%=i%>" data-id="<%=users[i]._id%>"><%=users[i].name%></span></td>
                            <td><a href="mailto:<%=users[i].email%>"><%=users[i].email%></a></td>
                            <td><a href="<%=users[i].phone%>"></a><%=users[i].phone%></td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="deleteUser(<%=i%>)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<script>
    function deleteUser(i){
        var id = $("#user" + i).data("id");
        $.ajax({
            url: './users/' + id,
            method: 'DELETE',
            success: () => location.reload()
        })
    }
</script>
<% include ../../partials/footer %>